BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
DATABASE_URL="postgres://pennywise:pennywise@db.localtest.me:5432/main"
OPENROUTER_API_KEY=""
OPENROUTER_MODEL=""
OPENROUTER_REFERER=""
OPENROUTER_TITLE=""
